.containerA{
    font-family: monospace;
    display: grid;
    width: 100%;
    height: 600%;
    grid-template-columns: 200px 1fr 1 fr;
    grid-template-rows: 235px 1fr 1 fr 100px;
    grid-gap: 1rem; 
    grid-template-areas:
        "title title title title"
        "searchbar searchbar searchbar searchbar"
        "courseinfo courseA courseA courseA"
        "courseinfo courseB courseB courseB"
        "courseinfo courseC courseC courseC"
         "blankspace blankspace blankspace blankspace"
        "footer footer footer footer";
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #abd3ff;
    font-family: monospace;
}
.title{
    background: white;
    grid-area: title;
}
.blankspace{
   grid-area: blankspace;
}
.courseinfo{
    border: 4px solid white;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    grid-area: courseinfo;
}
.courseA{
    grid-area: courseA;
    color: white;
}
.courseB{
    grid-area: courseB;
    color: white;
}
.courseC{
    grid-area: courseC;
    color: white;
}
.footer{
    grid-area: footer;
    position: relative;
    color: white;
    font-family: monospace;
}
.fa-facebook{
    color: white;
}
.fa-twitter{
    color: white;
}
.fa-linkedin{
    color: white;
}
.fa-instagram{
    color: white;
}
.header{
    grid-area: title;
    grid-area: searchbar;
}