.containerA{
    font-family: monospace;
    display: grid;
    width: 100%;
    height: 600%;
    grid-template-columns: 200px 1fr 1 fr;
    grid-template-rows: 235px 1fr 1 fr 100px;
    grid-gap: 1rem; 
    grid-template-areas:
        "title title title title"
        "searchbar searchbar searchbar searchbar"
        "jobA jobA jobA jobinfo"
        "jobB jobB jobB jobinfo"
        "jobC jobC jobC jobinfo"
         "blankspace blankspace blankspace blankspace"
        "footer footer footer footer";
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #abd3ff;
    font-family: monospace;
}
.title{
    background: white;
    grid-area: title;
}
.blankspace{
   grid-area: blankspace;
}
.jobinfo{
    border: 4px solid white;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    grid-area: jobinfo;
}
.jobA{
    grid-area: jobA;
    color: white;
}
.jobB{
    grid-area: jobB;
    color: white;
}
.jobC{
    grid-area: jobC;
    color: white;
}
.footer{
    grid-area: footer;
    position: relative;
    color: white;
    font-family: monospace;
}
.fa-facebook{
    color: white;
}
.fa-twitter{
    color: white;
}
.fa-linkedin{
    color: white;
}
.fa-instagram{
    color: white;
}
.header{
    grid-area: title;
    grid-area: searchbar;
}